    /* Responsive */

@media screen and (max-width: 1400px){
    
    body{
        position: relative;
    }

    /* Header */
    .entete{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: start;
        width: 75%;
        height: auto;
        max-width: 1340px;
        min-width: 375px;
        margin-left: 40px;
        height: 90px;
    }

    #ancres{
        margin-left: 20%;
    }
    
    /* Main */

    /* Filtres */
    .bloc-filtres{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }


    
/* Main */

    #corps{
    margin-left: 40px;
    }
    /* Responsive partie Hébergements*/

    #hebergements{
        position: absolute;
        top: 1160px;
        width: 880px;
        height: 650px;
        background-color: #f2f2f2;
        border-top-left-radius: 20px;   
        border-top-right-radius: 20px;
        border-bottom-left-radius:  20px;
        border-bottom-right-radius:  20px;
    }

    /* Responsive partie Populaire*/

    #heberg-popul{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 50px;
    }

    #populaires{
        position: absolute;
        top: 480px;
        margin-left: 5;
        width: 80%;
        height: 620px;
        max-width: 880px;
        min-width: 350px;
        background-color: #f2f2f2;
        border-top-left-radius: 20px;   
        border-top-right-radius: 20px;
        border-bottom-left-radius:  20px;
        border-bottom-right-radius:  20px;
    }

    .resultat2{
        margin-right: 30px;
    }

   /* Responsive partie Activités*/

   #activites{
    position: absolute;
    top: 1810px;
    margin-left: 10px;
    width: 70%;
    height: auto;
    max-width: 1440px;

   }

   #galerie-activites{
        display: flex;
        flex-wrap: wrap;
   }

   .resultat3{
       margin-right: 20px;
       margin-top: 20px;
   }
   
   .resultat4{
    margin-right: 20px;
    }

    /* Responsive partie Pied de page*/

    #footer{
        position: absolute;
        top: 2850px;
        width: 100%;
    }

    #bloc-pied{
        width: 800px;
    }

}

@media screen and (max-width: 1000px){

    .surligner{
        margin-right: 0px;
    }
    
    #ancres{
        margin-left: 10px;
    }

    .present{
        min-width: 180px;
    }
    


    #les-filtres{
       width: 80%;
    }

    #galerie-hebergements{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 90%;
        height: auto;
        justify-content:space-between;
        margin-left: 30px;
    }

    .groupe22{
        display: flex;
        justify-content:space-between;

    }
    
/* Main */

    #corps{
    margin-left:30px;
    }

    #galerie-hebergements{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 90%;
        height: auto;
        justify-content:space-between;
        margin-left: 30px;
    }

}

@media screen and (max-width: 600px){ 
   
    .entete{
        display: flex;
        justify-content:left;
        margin-left: 10px;
        margin-bottom: 50px;
    }

    #logo{
        padding-right: 150px;
    }

    #ancres{
        order: 1;
        align-self: flex-start;
        margin-left: 10%;
    }

    .surligner1{
        text-align: center;
    }

    .surligner1:hover{
        height: 50px;
        border-bottom: 4px solid blue;
        border-top: 2px solid white;
    }

    .present{
        width: 300px;
        white-space: normal;
    }

    #corps{
        margin-left: 10px;
    }
    
    /* Disparition bouton Rechercher */
    #rechercher{
        display: none;
    }

    /* Apparition bouton Rechercher */
    #loupe{
        display: block;
        padding: 20px;
    }

    #ville{
        border-color: transparent;
    }
    
    #formulaire{
        border: 1px solid #f2f2f2;
        border-right: transparent;
        border-radius: 0 10px 10px 0;
    }

    
}   