    /* Responsive */

@media screen and (max-width: 1400px){
    
    body{
        position: relative;
    }

    /* Header */
    .entete{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: start;
        width: 75%;
        height: auto;
        max-width: 1340px;
        min-width: 375px;
        margin-left: 40px;
        height: 90px;
    }

    #ancres{
        margin-left: 20%;
    }
    
    /* Main */

    /* Filtres */
    .bloc-filtres{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }

/* Main */

    #corps{
    margin-left: 40px;
    }
    /* Responsive partie Hébergements*/

    #hebergements{
        position: absolute;
        top: 1200px;
        width: 880px;
        height: 650px;
        background-color: #f2f2f2;
        border-top-left-radius: 20px;   
        border-top-right-radius: 20px;
        border-bottom-left-radius:  20px;
        border-bottom-right-radius:  20px;
    }

    /* Responsive partie Populaire*/

    #heberg-popul{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 50px;
    }

    #populaires{
        position: absolute;
        top: 530px;
        margin-left: 5px;
        width: 85%;
        height: 620px;
        max-width: 880px;
        min-width: 345px;
        background-color: #f2f2f2;
        border-top-left-radius: 20px;   
        border-top-right-radius: 20px;
        border-bottom-left-radius:  20px;
        border-bottom-right-radius:  20px;
    }

    .resultat2{
        margin-right: 30px;
    }

   /* Responsive partie Activités*/

   #activites{
        position: absolute;
        top: 1850px;
        margin-left: 10px;
        width: 80%;
        height: auto;
        max-width: 1440px;
   }

   #galerie-activites{
        display: flex;
        flex-wrap: wrap;
   }

   .resultat3{
       margin-right: 20px;
       margin-top: 20px;
   }
   
   .resultat4{
    margin-right: 20px;
    }

    /* Responsive partie Pied de page*/

    #footer{
        position: absolute;
        top: 2900px;
        width: 100%;
    }

    #bloc-pied{
        width: 800px;
    }

}

@media screen and (max-width: 992px){

   /* Entete */

   .entete{
        margin-left: 4%;
    }

    #corps{
        margin-left: 4%;
    }
   
    .surligner{
        margin-right: 0px;
    }
    
    #ancres{
        margin-left: 10px;
    }

    .present{   
        max-width: 450px;
    }
    
    /* Filtres */

    .bloc-filtres{
        width: 650px;
    }
    
    #les-filtres{
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    .bouton-filtres{
        margin-bottom: 10px;
    }
    
    /* Main */
    #corps{
        margin-left: 4%;
    }

    /* Les plus populaires */
    #populaires{
        position: absolute;
        top: 630px;
        width: 90%;
    }

    .galerie-populaires{
        margin-left: 20px;
    }

    /* Hébergements */
    #hebergements{
        position: absolute;
        top: 1300px;
        width: 85%;
        height: 1550px;
        padding-left: 80px;
    }

    #galerie-hebergements{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 90%;
        height: auto;
        max-width: 800px;
        min-width: 350px;
        margin-left: 20px;
    }  

    .resultat1{
        width: 350px;
        height: 200px;
        background-color: white;
        justify-content: center;
    }
    
    .resultat1 img{
        width: 350px;
    }

    #afficher{
        padding-left: 40px;
        padding-top: 1370px;
    }

    /* Activités */

    #activites{
        position: absolute;
        top: 2850px;
        margin-left: 10px;
        width: 90%;
        height: auto;
        max-width: 880px;
    }

    .groupe22{
        display: flex;
        justify-content:space-between;
    }

    #footer{
        position: absolute;
        top: 3900px;
        height: 300px;
    }

}

@media screen and (max-width: 820px){

    #footer{
        position: absolute;
        top: 3900px
    }

    .resultat4{
        margin-top: 40px;
    }

}

@media screen and (max-width: 733px){

    #footer{
        position: absolute;
        top: 4880px
    }

}

@media screen and (max-width: 650px){ 
   
    body{
        margin-left: 10px;
    }
    
    .entete{
        display: flex;
        justify-content:left;
        margin-left: 10px;
        margin-bottom: 50px;
    }

    #logo{
        padding-right: 150px;
    }

    #ancres{
        order: 1;
        align-self: flex-start;
        margin-left: 10%;
    }

    .surligner1{
        text-align: center;
        justify-content: center;
    }

    .surligner1:hover{
        height: 50px;
        border-bottom: 2px solid blue;
        border-top: 2px solid white;
    }

    .present{
        width: 300px;
        margin-left: 20px;
    }

    .select{
        margin-left: 20px;
    }

    /* Disparition bouton Rechercher */
    #rechercher{
        display: none;
    }

    /* Apparition bouton loupe */
    #loupe{
        display: block;
        padding: 20px;
    }

    #ville{
        border-color: #f2f2f2;
    }
    
    #formulaire{
        border: 1px solid #f2f2f2;
        border-right: transparent;
        border-radius: 0 10px 10px 0;
    }

    .bloc-filtres{
        width: 380px;
        margin-bottom: 0px;
    }

    #les-filtres{
        padding-bottom: 20px;
    }

    .texte-filtres{
        margin-left: 8px;
        margin-right: 15px;
    }

    #info{
        width: 360px;
    }

    #plus{
        padding-left: 20px;
    }

    #corps{
        margin-left: 0;
    }

    #heberg-popul{
        margin-left: 0;
    }

    #hebergements{
        background-color: white;
        position: absolute;
        top: 1350px;
        width: 90%;
        width: 400px;
        height: 1550Px;
        padding-left: 0px;
        margin-left: 10px;
    }

    #texte-hebergements{
        padding-left: 10px;
    }

    #galerie-hebergements{
        min-width: 350px;
        margin-left: 10px;
    }  

    .resultat1{
        width: 300px;
        height: 200px;
        background-color: white;
        justify-content: center;
    }
    
    .resultat1 img{
        width: 300px;
    }

    
    #afficher{
        padding-left: 0px;
        padding-top: 1370px;
    }

    #populaires{
        position: absolute;
        top: 730px;
        margin-left: 0;
        width: 80%;
        height: 620px;
        border-top-left-radius: 0px;   
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #entete-populaires{
        margin-left: 20px;
    }

    .resultat2{
        width: 300px;
    }

    .resultat2 figcaption{
        padding-top: 0px;
    }

    #activites{
        position: absolute;
        top: 2870px;
        width: 80%;
    }

    .resultat3{
        margin-bottom: 10px;
        width: 330px;
        height: 190px;
    }

   .resultat3 img{
        width: 330px;
        height: 135px;
    }

    .smart{
        width: 330px;
        margin-left: 20px;
    }

    .resultat4{
        height: 435px;
        justify-content: flex-start;
        margin-top: 25px;
    }

    .pomegues{
        height: 190px;
    }

    .frioul{
        height: 190px;
        margin-top: 30px;
    }

    .longchamp{
        height: 190px;
        margin-top: 30px;
    }

   .resultat4 img{
        width: 330px;
        height: 135px;
    }

    /* Footer */
    #footer{
        position: absolute;
        top: 4300px;
        height: 500px;
    }

    #bloc-pied{
        padding-left: 50px;
        max-width: 70%;
    }

    .item5{
        margin-bottom: 20px;
    }

}   