@font-face{
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    src: url(fonts/Raleway-Regular.ttf);
    font-style: normal;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 20;
    padding: 20;
}

.blue{
    color: blue;
}

.empty{
    color: #f2f2f2;
}

.prix{
    font-weight: bold;
}

.h4{
    font-size: 14px;
}

p{
    font-family: Raleway;
    font-size: 20px;
}

.titreimg{
    font-weight: bold;
}

.entete{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    margin-left: 50px;
}

.logo{
    width: 70%;
}

.menu{
    display: flex;
    flex-direction: row;
    
}

.recherche{
    flex-grow: 1;
    border-left: 50px;
    max-height: 50px;
    max-width: 420px;
}

.recherche rech{
    width: 50px;
    height: 50px;
}

.bottom-nav{
    display: flex;
    align-items: center;
    justify-content: safe left;
}

.menu-item{
    flex-grow: 0;
    height: 50px;
    border-radius: 9999;
    display: flex;
    justify-content: center;
    transition: flex-grow;
}

.menu-item{
    margin-left: 30px;
}

.menu-item img{
    width: 30px;
}

.bottom-nav a:nth-child(1){
    backgroud: white;
}

.bottom-nav a:nth-child(2){
    backgroud: white;
}

.bottom-nav a:nth-child(3){
    backgroud: white;
}

.bottom-nav a:nth-child(4){
    backgroud: white;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background:white;
    margin-left: 50;
}

.hebpop{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;
}

.titre{
    font-size: 200%;
    margin-top: 50px;
}

.normal{
    font-size: 100%;
    margin-left: 0px;
}

.affichezplus{
    font-size: 150%;
    margin-left: 40px;
    margin-bottom: 50px;
}

.hebergements{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 625px;
    width: 900px;
    background-color: #f2f2f2;
    border-top-left-radius: 20px;   
    border-top-right-radius: 20px;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
}

.galerie1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content:space-evenly;

}



.item1{
    width: 250px;
    height: 200px;
    border: 5px white solid;
    border-top-left-radius: 20px;   
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
 
}

.item1 figure{
    display: flex;
    flex-flow: column;
    max-width: 250px;
}

.item1 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
    height: 120px;
}

.item1 figcaption{
    background-color: white;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius: 20px;
    width: 250px;
    height: 120px;

}

.populaires{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 25%;
    height: 750px;
    flex-grow: 1;
    margin-right: 10px;
}

.item2{
    width: 250px;
    height: 200px;
    border: 5px white solid;
    border-top-left-radius: 20px;   
    border-top-right-radius: 20px;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
}

.item2 figure{
    display: flex;
    flex-flow: column;
    padding: 10px;
    margin: auto;
    max-width: 230px;

}

.item2 img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20Px;
    max-width: 230px;
    max-height: 110px;
}

.item2 figcaption{
    background-color: white;
    padding: 5px;
}

.activites{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 450px;
    border-radius: 20px;
}

.galerie3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1340px;
    justify-content: space-evenly;
    border-radius: 20px;
}

.item3{
    width: 25% auto;
    height: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.item3 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
}