
.header
{
display:flex;
justify-content: space-between;
align-items: flex-end;
}

#navid
{
display:flex;
flex-direction: row;
align-self: flex-start;
}
img:hover
{
border-left: 5px solid rgb(165, 162, 199);
border-bottom: 5px solid rgb(165, 162, 199)
}
img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-spacing: 3px;
    border-color: white;

}