body{
    background-color: white;
    height: 100vh;
    width: 100%;
}

html{
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

h1{
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 130%
}
h2{
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 130%
}
h3{
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}
p{
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

#principal {
	width: 100%;
	max-width: 1440px;
}

.blue{
    color: #0065FC;
    image-rendering: auto;
}

.empty{
    color: #f2f2f2;
}

.prix{
    font-weight: bold;
    font-size: 80%;
}

.titreimg{
    font-weight: bold;
}

/* Header */

.bord{
    display: flex;
	justify-content: space-between;
    margin-left: 50px;;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li {
	list-style: none;
	padding-left: 30px;
}

#surligner{
    width: 150px;
    height: 50px;
    border-top: #0065FC;
    border-width: 3px;
}

/* Main */
/*Présentation et Sélection*/
.present-select{
    max-width: 1440px;
    max-height: 300px;
    background-color: beige;
    margin-left: 50px;
}

/*Présentation*/
.present{
    padding-bottom: 20px;
}
/*Recherche et Sélection*/
.select{
    display: flex;
    width: 420px;
    height: 50px;
    justify-content: center;
}

.loc{
    width: 50px;
    height: 50px;
    
}
/*Filtres*/
.bloc-filtres{
    display: flex;
    align-items: center;
    max-width: 1000px;
    max-height: 70px;
}

.filtre-texte{
    margin-right: 20px;
}

.economique{
    display: flex;
    height: 50px;
    border-width: 1px;
    border-color: black;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
}

.familial{
    display: flex;
    height: 50px;
    border-radius: 25px;
    border-color: black;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
}

.romantique{
    display: flex;
    height: 50px;
    border-radius: 25px;
    border-color: black;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
}

.animaux{
    display: flex;
    height: 50px;
    border-radius: 25px;
    border-color: black;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
}

.contour-icon{
    border-color: black;
    border-radius: 50px;
    background-color: blue;
}

/*Information*/
#info{
    display: flex;
    align-items: center;
}

/*Section Hébergements et Populaires*/
#heberg-popul{
    display: flex;
    max-width: 1440px;
    max-height: 630px;
    justify-content:space-between;
    background-color: rgb(218, 218, 137);
    margin-left: 50px;
}
    /*Section Hébergements*/
#hebergements{
    width: 880px;
    height: 625px;
    background-color: #f2f2f2;
    border-top-left-radius: 20px;   
    border-top-right-radius: 20px;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
}

#texte-hebergements{
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 10px;
}

#galerie-hebergements{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 450px;
    background-color: lightblue;
    justify-content:space-between;
    margin-left: 40px;
}

.item1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 200px;
    border: 5px white solid;
    border-top-left-radius: 20px;   
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.item1 figure{
    width: 245px;
    height: 200px;
}

.item1 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 245px;
    height: 120px;
}

.item1 figcaption{
    background-color: white;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius: 20px;
    height: 70px;
    padding-left: 15px;
    padding-top: 10px;
}

#afficher-plus{
    padding-left: 40px;
}


    /*Section Populaires*/
#populaires{
    width: 420px;
    height: 625px;
    justify-content: space-around;
    background-color: #bb9292;
    border-top-left-radius: 20px;   
    border-top-right-radius: 20px;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
}

#entete-populaires{
    display: flex;
    max-width: 350px;
    margin-left: 40px;
}

#galerie-populaires{
    margin-left: 40px;
}

.item2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 345px;
    height: 135px;
    border: 5px white solid;
    background-color: lightsalmon;
    border-top-left-radius: 20px;   
    border-top-right-radius: 20px;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
}

.item2 img{
    width: 130px;
    height: 135px;
    border-top-left-radius: 20px;
    border-bottom-left-radius:  20px;
}

.item2 figure{

}

.item2 figcaption{
    padding-left: 20px;
    padding-top: 20px;
}

.figure2{
    display: flex;
}


/*Section Activités*/

#activites{
    width: 1440px;
    height: 560px;
    background-color: lightsteelblue;
    margin-left: 50px;
}


#titre-activites{
    padding-top: 50px;
}

#galerie-activites{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}

.item3{
    width: 300px;
    height: 450px;
}

.item3 figure{

}

.item3 figcaption{

}

.item4{
    justify-content: center;
    width: 245px;
    height: 200px;
}

.item4 figure{

}

.item4 figcaption{
    
}

/* Footer */
#footer{
    background-color: #f2f2f2;
    max-width: 1440px;
    height: 200px;
    padding-bottom: 30px;
}

#bloc-pied{
    width: 1080px;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.item5{
    
}

.footer-titre{
    font-size: 120%;
    font-weight: bold;
}

.footer-texte{
    font-size: 100%;
    color: gray;
}